<section>
<!--List of User's Posts-->
{{#each}}
<section>
    <h1>{{post.title}}</h1>
    <h5>{{format_date post.date}}</h5>
</section>
{{/each}}
</section>
<!--Form for typing new post and title-->
<form class = "hidden">
    <label for="post-title">Title</label>
    <input type="text" id="post-title">
    <label for="post-body">Content</label>
    <textarea id = "post-body"></textarea>
    <button>Create Post</button>
</form>
<!--Button to summon new post fields-->
<button id = "post-button">New Post</button>
<!--Add script link for javascript-->