<section class = "flex-row justify-center">
    <h1>{{post.title}}</h1>
    <h5>
        Posted by {{post.poster}} on {{post.date}}</h5>
    <p>{{post.body}}</p>
</section>
<button id = "edit-button">Edit Post</button>
<button id = "delete-button">Delete Post</button>
<!--Figure out how to render editing textarea and save button-->